{% extends 'base.html.twig' %}
{% block title %}edit aeroport{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">eit aeroport</button>
    {{ form_end(form) }}
{% endblock %}