{% extends 'base.html.twig' %}
{% block title %}Edit{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Edit Author</button>
    {{ form_end(form) }}
{% endblock %}