{% extends 'base.html.twig' %}
{% block title %}Add a new book{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add Author</button>
    {{ form_end(form) }}
{% endblock %}